
<ion-header>
  <ion-toolbar class="ion-no-padding">
    <ion-back-button></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <form [formGroup]="validationsFormGroups" (ngSubmit)="onSubmit(validationsFormGroups.value)">
    <!-- First Name -->
    <ion-item lines="none">
      <ion-label class="label_name" position="floating">First Name</ion-label>
      <ion-input class="input_name"  formControlName="firstName" type="text" required></ion-input>
    </ion-item>

    <div class="validation_error">
      <ng-container *ngFor="let validation of validationMessages.firstName">
        <div
          class="error-message"
          *ngIf="validationsFormGroup.get('firstName').hasError(validation.type) && (validationsFormGroup.get('firstName').dirty || validationsFormGroup.get('firstName').touched)"
        >
          <ion-icon name="information-circle-outline"></ion-icon> {{
          validation.message }}
        </div>
      </ng-container>
    </div>
    
    <!-- LAST NAME -->
    <ion-item lines="none">
      <ion-label class="label_name" position="floating">Last Name</ion-label>
      <ion-input class="input_name"  formControlName="lastName" type="text" required></ion-input>
    </ion-item>

    <div class="validation_error">
      <ng-container *ngFor="let validation of validationMessages.lastName">
        <div
          class="error-message"
          *ngIf="validationsFormGroup.get('lastName').hasError(validation.type) && (validationsFormGroup.get('lastName').dirty || validationsFormGroup.get('lastName').touched)"
        >
          <ion-icon name="information-circle-outline"></ion-icon> {{
          validation.message }}
        </div>
      </ng-container>
    </div>

    <!-- ADDRESS -->
    <ion-item lines="none">
      <ion-label class="label_name" position="floating">Address</ion-label>
      <ion-input class="input_name"  formControlName="address" type="text" required></ion-input>
    </ion-item>
    
    <!-- PHONE NUBMER -->
    <ion-item lines="none">
      <ion-label class="label_name" position="floating">Phone Number</ion-label>
      <ion-input class="input_name"  formControlName="phone" type="text" required></ion-input>
    </ion-item>

    <div class="validation_error">
      <ng-container *ngFor="let validation of validationMessages.phone">
        <div
          class="error-message"
          *ngIf="validationsFormGroup.get('phone').hasError(validation.type) && (validationsFormGroup.get('phone').dirty || validationsFormGroup.get('phone').touched)"
        >
          <ion-icon name="information-circle-outline"></ion-icon> {{
          validation.message }}
        </div>
      </ng-container>
    </div>

    <!-- EMAIL -->
     <ion-item lines="none">
      <ion-label class="label_name" position="floating">Email</ion-label>
      <ion-input class="input_name"  formControlName="email" type="text" required></ion-input>
    </ion-item>



      <ion-item lines="none">
        <ion-label class="label_name" position="floating" >Password</ion-label>
        <ion-input class="input_name input_password" [type]="showPwd ? 'text' : 'password'" formControlName="password">
          <ion-icon class="icon_eye" slot="end" [name]="pwdIcon" (click)="togglePwd()"></ion-icon>
        </ion-input>
      </ion-item>

      <div class="validation_error">
        <ng-container *ngFor="let validation of validationMessages.password">
          <div
            class="error-message"
            *ngIf="validationsFormGroup.get('password').hasError(validation.type) && (validationsFormGroup.get('password').dirty || validationsFormGroup.get('password').touched)"
          >
            <ion-icon name="information-circle-outline"></ion-icon> {{
            validation.message }}
          </div>
        </ng-container>
    </div>
    <ion-button class="login_button" type="submit" expand="block">Sign In</ion-button>
  </form>
</ion-content>
