<ion-header>
  <ion-toolbar>
    <ion-title>Edit Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="floating">First Name</ion-label>
      <ion-input [(ngModel)]="account.userFirstname"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Last Name</ion-label>
      <ion-input [(ngModel)]="account.userLastname"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Phone Number</ion-label>
      <ion-input [(ngModel)]="account.userPhone"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Address</ion-label>
      <ion-input [(ngModel)]="account.userAddress"></ion-input>
    </ion-item>

  </ion-list>
  <ion-button
    class="ion-padding editBtn"
    (click)="submitData.emit(account)"
    expand="block"
  >
    Save Changes
  </ion-button>
</ion-content>
