<ion-header>
  <ion-toolbar>
    <ion-title>User</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label style="font-weight: 600">Full Name</ion-label>
      <ion-label style="font-weight: 600" slot="end">User Type</ion-label>
    </ion-item>
    
    <ion-item routerLink="/home/user-details/{{accounts.userId}}"  *ngFor="let accounts of account">
      <ion-label>{{accounts.userLastname}}, {{accounts.userFirstname}}</ion-label>
      <ion-label slot="end">{{accounts.userType}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
 