<ion-header>
  <ion-toolbar>
    <ion-back-button>
     
    </ion-back-button>
    <ion-title> Products Category</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item lines="none">
      <ion-label style="font-weight: 600" slot="start">Category Name</ion-label>
      <ion-label style="font-weight: 600"  slot="end">Action</ion-label>
    </ion-item>
    <ion-item
      lines="full"
      *ngFor="let categories of category"
    > 
      <ion-label> {{categories.categoryName}}</ion-label>
      
      <ion-button>
        <ion-icon (click)="deleteCategory()" name="trash-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>

  <ion-fab id="add-button" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-modal
    trigger="add-button"
    [breakpoints]="[0.6, 0.8, 1]"
    [initialBreakpoint]=".8"
  >
    <ng-template>
      <app-add-category></app-add-category>
    </ng-template>
  </ion-modal>

</ion-content>
